@import "tailwindcss";

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(270deg, #4f46e5, #8b5cf6, #ec4899, #f97316);
  background-size: 600% 600%;
  animation: gradient-flow 8s ease infinite;
}
.input-bounce {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.input-bounce:hover {
  animation: input-bounce 0.4s ease forwards;
}

@keyframes input-bounce {
  0% {
    transform: translateX(0);
    box-shadow: none;
  }
  25% {
    transform: translateX(2px); 
    box-shadow: 2px 0 5px black;
  }
  50% {
    transform: translateX(-2px);
    box-shadow: -2px 0 5px black;
  }
  100% {
    transform: translateX(0);
    box-shadow: none;
  }
}
